files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDojCCAooCCQC3+NPWhF8eLDANBgkqhkiG9w0BAQsFADCBkjELMAkGA1UEBhMC
      QlIxDjAMBgNVBAgMBUdvaWFzMRAwDgYDVQQHDAdHb2lhbmlhMQ4wDAYDVQQKDAV0
      ZXN0ZTEOMAwGA1UECwwFdGVzdGUxFzAVBgNVBAMMDlBlZHJvIEJhY2NoaW5pMSgw
      JgYJKoZIhvcNAQkBFhlwZWRyb2JhY2NoaW5pQG91dGxvb2suY29tMB4XDTE4MTAx
      NzEzMzAxNloXDTE5MTAxNzEzMzAxNlowgZIxCzAJBgNVBAYTAkJSMQ4wDAYDVQQI
      DAVHb2lhczEQMA4GA1UEBwwHR29pYW5pYTEOMAwGA1UECgwFdGVzdGUxDjAMBgNV
      BAsMBXRlc3RlMRcwFQYDVQQDDA5QZWRybyBCYWNjaGluaTEoMCYGCSqGSIb3DQEJ
      ARYZcGVkcm9iYWNjaGluaUBvdXRsb29rLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBAJp7Y6OUqXn/DtnManDtg4yFSgevVSYUsgtpmiqHJOkClImf
      2A63PHuPcvHIFK00Wn4lmj4TEsQ4X5niEjV4VDu+Z96tLD4XbYckYKY+fvp5qKzu
      I5vRg0QES4S1JhKRxxUEQsOqlF0X5ochu054ANaK74zgYrhilt0/Lv6/NFpfz2OJ
      wsKqWu4nHGrgkjhXzNZVO9z4M+IR2DDgc9sbFKCDcghP3Qgst8o2F3kuNDaQ8zQ+
      dbyzAD4dMYI8seB1yuyzfl1SopFinSvKilE8IaIMMlRC0PO04NyOdCwGaCRHTYOj
      BINas08Dj3RNp2EzVzhTSSpJDDOyEjsltByStukCAwEAATANBgkqhkiG9w0BAQsF
      AAOCAQEAi4fd+Ap3zYkeLNx1s7ZIlyHG6ShYrJanL94JJrZWqqw3vzsI9Kh5xjnK
      nnhMyEbdLqpc5LdD8Gltf2RJGdhmktAO1MtzBe7X1iXLSHvnQtviRJUTKNtWDIiH
      ZMDLb19N2tv3JgLog3RuVmr82YHuBm+vmG+LLpNQYhqpDY4WE7VOf5z+JQOFASIq
      tF68CyGLV+FaR2v+xKbWabfKj8ky2aAKYCNCEi3fE222x9irdKfnTggns5H6mQIV
      4DY6Jqj+ml690kW9L4S82p/cjz1aFvOOFYww+YM0VUtHvdxCqnSjHS+bSrB1qd+S
      muuMhpDgx0hLQaVBYqUqR8D5OpNP1Q==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAmntjo5Spef8O2cxqcO2DjIVKB69VJhSyC2maKock6QKUiZ/Y
      Drc8e49y8cgUrTRafiWaPhMSxDhfmeISNXhUO75n3q0sPhdthyRgpj5++nmorO4j
      m9GDRARLhLUmEpHHFQRCw6qUXRfmhyG7TngA1orvjOBiuGKW3T8u/r80Wl/PY4nC
      wqpa7iccauCSOFfM1lU73Pgz4hHYMOBz2xsUoINyCE/dCCy3yjYXeS40NpDzND51
      vLMAPh0xgjyx4HXK7LN+XVKikWKdK8qKUTwhogwyVELQ87Tg3I50LAZoJEdNg6ME
      g1qzTwOPdE2nYTNXOFNJKkkMM7ISOyW0HJK26QIDAQABAoIBAFFQIWI5HfvZBTgf
      IOfQHS4Z+p2Q7IDe49id/UflWshLU2QdftxAFtXy683YQwnoRLmhkU6bO4WNJsUY
      +fyrGatYzdOn02HbcwtvWnAm9S9iWiasMpIR9cYXfKidsSyVDvVBCON1JiLaMb1v
      Q+hJwicremvssAnd2wsZ9uKgQi5O7r6K4RSCmf/ZUZZPiSUfgRzmq+aLgT/ecph5
      R5Zuh1v9/aUa8F5hhPu+zrVcbE8UqYdlRgtkhpCF9H8hWgfHPvMkgKjdEbZ967+6
      C28MT5BQQwnNpEXKj6p5gy5ekjDQe2NjTqSD2EiprW+0/GzWEUFjen/ugMVL0MVT
      wknV4AECgYEAyJVJun2ecl1QGADYmo1TmG1J3OW/2mmjg3qpVkPDgD78CUgPZIf+
      BfeQQv4LHpBC2ZW5US/RTszgfBvXVHZUEcVbKxSlBmOddFDVRLPiRyb58peUcKM0
      uenhmPhbRuUoYH7rgJ2W62bVoAU6Iygpotv7re+9jM8QZarE/saPcDECgYEAxSl9
      EQ+WP/BmUucsTjGaAZ3xqHxFWlX/xGSsMPKbRuKtNxhpKEh65lNVAqOpuLX4qcwB
      exsNQW8+kjc2ofpFS3smEh22MxGhwkhkVAiDqN+GeBAmMpMfGjSgKyxLL2GI/Mgr
      gfCNL1qg8pH3pETGRnjsTB+kqjq+Ae2sK2E7fDkCgYEAjUWIDg8Xn5jVJnLCG+hZ
      7kta8Hfobh5lCd9EkPtdIGA8BxV3seiOIwm/00816arVSoZHZUT2eDeYDBFX0acd
      gv6rPWZm7F8QsLGV47OGNXLgK9pStBpesmpld+XD8+TGUWBS4d0cRGPDJddIoSZS
      XN/vHQxzRk84T0K9SGv07qECgYAwjkMqzHfoT0Aj8qLKrxSKiWdWYySBVuSibViq
      xVTQZErcYrqjHRaHWsZ42+2Ue9w9lOxYcRUWpFr4j3h487XVHQMHOyH/+buoqUNs
      HpyuHj5zmyaNFgZ24bcAauwpQxAFkRaF7cQXgW5ZzvD6F6Xs/SLUrIZVFhptRyc7
      l7qaoQKBgC09XV/yA6zN6QuIEQXxRCAHOcpd4FWTGosGQtKh1BXQdnNDN0A4z+5e
      bi1HP2g2s4Smvyg/BpN46d+JGVB2G42D6QiwMq9flTqCYrSWnBAc90DTWYwwG1Yi
      xEhJHMePO438A2UCFuUo9WkFwdRUJWwxgF8qRpoxDrd0mUKIgQcE
      -----END RSA PRIVATE KEY-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"